.bg{
  background-image: url("../images/jumbotronimage.jpeg");
  background-repeat: no-repeat;
  padding-top: 2em;
  padding-bottom: 2em ;
  min-height: 66%
}
body,html {
  height: 100%;
}

.container-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.green {
  background: rgb(46, 102, 46);
  color: white;
}

h3 {
  margin: 0px;
}
h1 {
  margin: 0px;
  padding: 0.1em;
}
h2 {
  margin: 0px;
  padding: 0.4em;
}
h4 {
  margin:0px;
}

.myFooter{
  background-color: rgb(46, 102, 46);
  color:white;
  text-align: center;
  width:100%;
  margin-bottom:0px; 
}
.myPantry{
  background-color:rgb(84, 190, 84, 0.3);
  color:white;
  font-style: bolder;
  font-family: 'Indie Flower', cursive;
  font-size:20px;
}
#credits {
  padding: 0px;
  margin-bottom:0px; 
}
#delete-from-fridge{
  float: right;
}
.control-top{
  height: 3em;
  background:red;
}
#recipeDisplay{
  margin-bottom: 80px;
}
#prev {
  width:3em;
  border-radius: 1em;
}
.recipies{
  background-color:rgb(84, 190, 84, 0.3);
}
#recipeDisplay {
  background-color:rgb(84, 190, 84, 0.3);
}